.grid__item-titlewrap {
	left: 0%;
	bottom: 0%;
	position: absolute;
}

.grid__item-title {
	font-size: 8vw;
	line-height: 1;
	margin: 0;
}

.grid__item-description {
	margin: 0;
	font-size: 1.5rem;
}

.scroll-img {
	max-width: 100%;
	height: 50vh;
	min-width: 250px;
	min-height: 250px;
	background-size: cover;
}



@media screen and (max-width: 55em) {
	.grid__item {
		margin: 0 0 1rem !important;
	}
	.scroll-img {
		margin: 0 auto;
	}
}
